
{% extends 'App_Coder/inicio.html' %}

{% block titulo %} 
   Projects
 {% endblock %}


 {% block forms %} 

Bilingual industrial engineer from Los Andes university (Bogotá, Colombia), with 4 years of work experience in the 
analytics area who seeks to develop as a professional; With the ability to adapt to different work groups, assuming the role 
of a leader, focusing on agile processes, seeking problema solving with data driven, achieving objectives.

Personal Project:
To create digital art via NFTs proyects called RNDM DCKS: Programing the minting of different projects of digital art in opensea Marketplace.
                   
{% endblock %}