
{% extends 'App_Coder/inicio.html' %}

{% block titulo %} 
   Projects
 {% endblock %}


 {% block forms %} 

    {% for x in proyecto %}
        <li>Name of the project is:{{x.nombre}}</li>
        <p>{{x.nombre}} Number {{x.cantidad}} NFT</p>

        <img src="/{{ MEDIA_URL }}{{x.imagen.url}}" alt="img"> 
        <button>
            <a href="{% url 'Editar Proyecto' x.nombre %}">Edit project</a>
        
        </button>
        <button>
            <a href="{% url 'Añadir Proyecto' %}">Add project</a>
        
        </button>
       
    {% endfor %}

 
                   
{% endblock %}